.games {
  padding: 3px 0;  
  border-bottom: 3px solid #fab600;
}

.sms, .contacts, .dealers, .news_page {
  padding-bottom: 20px; 
  border-bottom: 3px solid #fab600;   
}

.bestgames .gamerow {
  margin: 0;
}

.bestgames .game {
  position: relative;
  padding: 1px;
}

.bestgames .game img {
  width: 100%;
}

.bestgames .game .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);  
}

.bestgames .game .shade a {
  display: block;
  width: 230px;
  margin: 70px auto;
  text-align: center;
  color: white;
  font-size: 14pt;
  background: #56c428;
  padding: 15px 20px;  
  box-shadow: 0 0 20px #56c428;
}

.allgames form {
  margin: 20px 20px 20px;

}

.news {
  margin: 20px 0;
  font-size: 12pt;
}

.news h1 {
  text-transform: uppercase;
  font-size: 22pt;
  font-weight: bold;
  margin-bottom: 20px;
}

.news p {
  margin: 10px 0;
}

.games .game_item {
  
  background: #dbeaf2;
  border-radius: 10px;
  width: 150px;  
  height: 130px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.games .game_item img {
  position: relative;  
  left: -4px;
  width: 158px;  
  border-radius: 10px;
  border: 4px solid #e8f1f5;
  top: 0px;
  left: -4px;
}

.games .game_item a {  
  text-align: center;
  color: #5479e5;  
}

.games .game_item:hover {
  background: #e6644b;  
}

.games .game_item:hover img {
  border-color: #de4311;
}

.games .game_item:hover a {
  color: white;
}

.games .game_title {
  font-size: 14pt;  
}

.games .game_description {
  font-style: italic;
}

img.full_width {
  width: 100%;
  height: auto;
}

.games_catalog {
  padding-top: 30px;
}

.games_catalog .games_row {
  margin-bottom: 20px;
}

.news_page .news_item {
  padding: 10px 0;
  border-bottom: 2px #b6d5f7 solid;
}

.news_page .news_item .title {
  display: block;
  font-size: 14pt;
  margin-bottom: 10px;
}

.news_page .news_item .news_preview {
  font-size: 12pt;
}

.dealers .dealer_item {
  padding: 10px 0;
  border-bottom: 2px #b6d5f7 solid; 
  font-size: 12pt;
}

.orange_box {
  padding: 20px 0 0;
}

.orange_title {
  margin: 20px 0 0;
  display: table-row;
  width: 100%;
  height: 43px;
}

.orange_title .left_tail {
  display: table-cell;
  min-width: 20px;  
  border-bottom: 3px #fab600 solid;
}

.orange_title .center_block {
  display: table-cell;  
  white-space: nowrap;
  border-left: 3px #fab600 solid;
  height: 43px;
}

.orange_title .center_block div {
  display: inline-block;    
  height: 100%;
  white-space: nowrap;
  padding: 0 20px 0px;
  vertical-align: bottom;
  line-height: 35px;
}

.orange_title .center_block .active {   
   display: inline-block;
   position: relative;
   margin-right: 28px;
   height: 43px;
   border-top: 3px #fab600 solid;
   font-size: 14pt;
   color: #fa9300;   
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAYAAAA/tpB3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF9JREFUeNqcjUEOgDAQAoH2/+/xUSaebLWXla0a714IS2YBsS6bgDIE6RSCh12xhLqCFrJ2gbWZk4WlPeftyp5cS+7NPg6av64CXaXqZuYGc23ugiOzgYiAT/yQS4ABAHvkJknjki36AAAAAElFTkSuQmCC);
}

.orange_title .center_block .active:after {
  content: '';
  width: 28px;
  height: 43px;
  position:absolute;
  right: -28px;
  top: -3px;
  background: url('/assets/img/tab_border.png') no-repeat;  
}

.orange_title .center_block .link {  
   border-top: 3px transparent solid;
   border-bottom: 3px #fab600 solid;   
   font-size: 14pt;

}

.orange_title .right_tail {
  display: table-cell;  
  width: 100%;  
  border-bottom: 3px #fab600 solid;
}