body {
  font-family: 'PT Sans', sans-serif;
}

a {
  color: #bf2e00;
  text-decoration: underline;
}

a:hover, a:active {
  color: #dc7200;
}

a.green {  
  text-align: center;
  color: white;
  font-size: 11pt;
  background: #56c428;
  padding: 5px 15px;  
  box-shadow: 0 0 20px #56c428;  
  outline: 0;
}

a.gray {
  color: #c1c1c1;
  border: 3px solid #c1c1c1;
  padding: 10px 15px;
  font-size: 14pt;  
}

a.orange {
  color: #fa9300;
  border: 3px solid #fab600;
  padding: 10px 15px;
  font-size: 14pt;
  background: -moz-linear-gradient(top,  rgba(255,237,192,1) 0%, rgba(255,237,192,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,237,192,1)), color-stop(100%,rgba(255,237,192,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,237,192,1) 0%,rgba(255,237,192,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,237,192,1) 0%,rgba(255,237,192,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,237,192,1) 0%,rgba(255,237,192,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,237,192,1) 0%,rgba(255,237,192,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedc0', endColorstr='#00ffedc0',GradientType=0 ); /* IE6-9 */
}

.top_header {
  margin: 20px 0;

}

.right-gap {
  margin-right: 20px;  
}

.icon:before {
  content: '';
  display: inline-block;    
  background: url('/assets/img/sprites.png') no-repeat;
  margin-right: 5px;
  vertical-align: middle;
}

.icon.icon-icq:before {
  width: 16px;
  height: 16px;
  background-position: -20px 0;  
}

.icon.icon-skype:before {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}

.main_menu {  
  width: 100%;
  background: #fab600;
}

.main_menu ul {
  margin-bottom: 0;
}

.main_menu li {
  height: 100%;
  padding: 0 5px;
  
  display: inline-block;
}

.main_menu li.active {
  background: #dc7200;
}
 
.main_menu a {
  line-height: 35px;   
  vertical-align: middle;   
  color: white;
} 

@media (min-width: 992px) {
  .main_menu li {
    padding: 0 20px;    
  }
  .main_menu a {
    line-height: 45px; 
  }
}

.content-area {
  width: 100%;
  background: url('/assets/img/content-bg.png') repeat-x;
  min-height: 400px;
}

.footer {
  position: relative;
  min-height: 300px;
  background: #f1f1f1; /* Old browsers */
  background: -moz-linear-gradient(top,  #f1f1f1 0%, #ffffff 50%, #f1f1f1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(50%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f1f1f1 0%,#ffffff 50%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f1f1f1 0%,#ffffff 50%,#f1f1f1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f1f1f1 0%,#ffffff 50%,#f1f1f1 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f1f1f1 0%,#ffffff 50%,#f1f1f1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
  margin: 70px 0 20px;
  padding: 20px 0;
}

.footer:before, .footer:after {
  position: absolute; 
  content: '';
  display: block;
  width: 100%;
  height: 6px;    
  top: -6px;
  z-index: 10;
  background: url('/assets/img/footer-bg.png') repeat-x; 
}

.footer:after {
  top: auto;
  bottom: -6px;
  background-position: 0 -6px;
}

.footer .copyright {
  font-size: 13pt;
}

.footer .copyright .item {
  margin-bottom: 20px;
}

.footer .games-list {
  font-size: 8pt;
  color: #9fa5aa;
  margin-bottom: 10px;
}

strong.green {
  color: #56c428;
  font-size: 14pt;
}

.gray {
  color: #c1c1c1;
}

.p_gaps p {
  margin-bottom: 20px;
}

.bottom_gap {
  margin-bottom: 20px; 
}

.alert {
  position: relative;
  padding-left: 45px;
}

.alert:before { 
  position: absolute;
  left: 0px;
  top: 10px;
  content: '';
  display: block;
  width: 40px;
  height: 32px;
  background: url('/assets/img/sprites.png') -60px -20px no-repeat;  
}
