.payment {
  border-bottom: 3px #fab600 solid;
}

.pay_info {
  margin: 20px 0;
}

.pay_methods {
  margin-bottom: 20px;

}

.pay_services .item {
  position: relative;
  width: 170px;
  height: 100px;
  float: left;
}

.pay_services .item.discount:after {
  content: '+3%';
  position: absolute;
  background: #fab600;
  left: 90px;
  top: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  font-size: 12pt;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
}

.pay_services .item img {
  margin: 20px;
}

form {
  margin-bottom: 50px;
}

form label {
  font-weight: normal;
}
