.stages {
  margin: 20px 0 50px;
  white-space: nowrap;
}

.stages .item {
  position: relative;
  display: inline-block; 
  width: 30px;
  height: 30px;
  margin: 0 3px;
  background: url('/assets/img/sprites.png') 0 -20px no-repeat;
  vertical-align: middle;
}

.stages .item.green {
  background-position: -30px -20px;
}

.stages .item span {
  width: 100px;
  white-space: normal;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -50px;  
  color: #328bee;
  text-align: center;
}

.stages .item.green span {
   color: #56c428;  
 }

.stages .separator {
  width: 70px;
  height: 4px;
  display: inline-block;  
  background: #328bee;
}

.stages .separator.green {
  background: #56c428;  
}

.stages .separator.greenblue {
  background: #56c428; /* Old browsers */
  background: -moz-linear-gradient(left, #56c428 0%, #328bee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#56c428), color-stop(100%,#328bee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #56c428 0%,#328bee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #56c428 0%,#328bee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #56c428 0%,#328bee 100%); /* IE10+ */
  background: linear-gradient(to right, #56c428 0%,#328bee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56c428', endColorstr='#328bee',GradientType=1 ); /* IE6-9 */ 
}

.stages .left-tail, .stages .right-tail {
  width: 90px;
  height: 4px;
  display: inline-block;
}

@media (min-width: 992px) {
  .stages .item span {
    width: 200px;    
    margin-left: -100px;  
  }

  .stages .separator {
    width: 200px;
  }

  .stages .left-tail, .stages .right-tail {
    width: 70px;
  }

}

@media (min-width: 1200px) {
  .stages .separator {
    width: 250px;
  }

  .stages .left-tail, .stages .right-tail {
    width: 100px;
  }

}

.stages .left-tail {
  background: -moz-linear-gradient(left,  rgba(50,139,238,0) 0%, rgba(50,139,238,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(50,139,238,0)), color-stop(100%,rgba(50,139,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(50,139,238,0) 0%,rgba(50,139,238,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(50,139,238,0) 0%,rgba(50,139,238,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(50,139,238,0) 0%,rgba(50,139,238,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(50,139,238,0) 0%,rgba(50,139,238,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00328bee', endColorstr='#328bee',GradientType=1 ); /* IE6-9 */  
}

.stages .left-tail.green {
  background: -moz-linear-gradient(left,  rgba(86,196,40,0) 0%, rgba(86,196,40,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(86,196,40,0)), color-stop(100%,rgba(86,196,40,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(86,196,40,0) 0%,rgba(86,196,40,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(86,196,40,0) 0%,rgba(86,196,40,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(86,196,40,0) 0%,rgba(86,196,40,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(86,196,40,0) 0%,rgba(86,196,40,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0056c428', endColorstr='#56c428',GradientType=1 ); /* IE6-9 */
}

.stages .right-tail {
  background: -moz-linear-gradient(left,  rgba(50,139,238,1) 0%, rgba(50,139,238,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(50,139,238,1)), color-stop(100%,rgba(50,139,238,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(50,139,238,1) 0%,rgba(50,139,238,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(50,139,238,1) 0%,rgba(50,139,238,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(50,139,238,1) 0%,rgba(50,139,238,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(50,139,238,1) 0%,rgba(50,139,238,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#328bee', endColorstr='#00328bee',GradientType=1 ); /* IE6-9 */
}

.stages .right-tail.green {
  background: -moz-linear-gradient(left,  rgba(86,196,40,1) 0%, rgba(86,196,40,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(86,196,40,1)), color-stop(100%,rgba(86,196,40,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(86,196,40,1) 0%,rgba(86,196,40,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(86,196,40,1) 0%,rgba(86,196,40,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(86,196,40,1) 0%,rgba(86,196,40,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(86,196,40,1) 0%,rgba(86,196,40,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56c428', endColorstr='#0056c428',GradientType=1 ); /* IE6-9 */
}



